.info-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 5%;
  margin-bottom: 5%;
}

.image-left-container {
  width: 400px;
  height: 400px;
  background-image: url("https://i.imgur.com/RA1pMaW.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.info-right-container h2 {
  font-size: xx-large;
}

.info-right-container {
  display: inline;
  margin-left: 20px;
  font-family: "Poppins", sans-serif;
  font-size: 12pt;
}

.info-right-container p {
  font-size: 20pt;
}
