.header-home{
  background-image: url("https://i.imgur.com/uPxYhjx.png");
  background-repeat: no-repeat;
  background-size: 70%;
  background-position: right bottom;
  background-origin: border-box;

}